 /*Estilos para el apartado del index carrucel*/
 .carrucel {
    background-color: #f9fac8;
    width: 800px; /* Ajusta el tamaño del carrusel */
    height: 400px; /* Ajusta la altura */
    margin: 50px auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
}

/* Contenedor de las imágenes */
.carrucel ul {
    display: flex;
    width: 100%; /* Ajusta el ancho según la cantidad de imágenes */
    height: 100%;
    margin: 0;
    padding: 0;
    animation: slide 20s linear infinite; /* Velocidad y fluidez */
}

/* Elementos individuales */
.carrucel li {
    list-style: none;
    flex: 0 0 100%;/* Cada imagen ocupa el 100% del ancho del carrusel */
    height: 100%; /* Para que mantengan la proporción */
}

/* Imágenes dentro del carrusel */
.carrucel img {
    width: 100%;
    height: 100%; /* Para que mantengan la proporción */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/* Animación */
@keyframes slide {
    0% { transform: translateX(0%); }
    25% { transform: translateX(0%); }

    30% { transform: translateX(-100%); }
    40% { transform: translateX(-100%); }

    50% { transform: translateX(-200%); }
    60% { transform: translateX(-200%); }

    70% { transform: translateX(-300%); }
    80% { transform: translateX(-300%); }

    90% { transform: translateX(-400%); }
    100% { transform: translateX(-400%); } 
    
}